
<h1 id="all_head">Your Cocktails</h1>

<div class="container">
  <div class="row">
    <%@cocktails.each do |cocktail| %>
      <div class="col-sm-4">
      <%= cl_image_tag cocktail.photo, height: 150, width: 150, radius: 5, crop: :thumb %>
      <%= link_to cocktail.name, cocktail_path(cocktail), class: "btn" %>
     </div>
    <%end%>
  </div>
  <div class="col-6"> <%= link_to "Create a Cocktail", new_cocktail_path %></div>
</div>
