<div class="d-flex">
<h1 id="line_show">_____________</h1>
</div>

<h1 class="all_head">Your Cocktails</h1>

<div class="container">
  <div class="row">
    <%@cocktails.each do |cocktail| %>
      <div id="cocktail-on-index"class="col-sm-12">
      <%= cl_image_tag cocktail.photo, height: 200, width: 200, radius: 5, crop: :thumb, :class => 'img_index' %>
      <%= link_to cocktail.name, cocktail_path(cocktail), class: "btn" %>
     </div>

    <%end%>
  </div>

</div>
<div class="col-6"> <%= link_to "Create a Cocktail", new_cocktail_path %></div>
