@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.d-flex {
display: flex;
padding-top: 0px;
justify-content: center;


}

.banner h1 {
  width: auto;
  margin: 20px;
  font-size: 80px;
  font-family: 'Abril Fatface', cursive;
  border: #EFB332 dotted 10px;
  padding: 10px;

}

.col-4 a {

border: none;

}

.banner p {
  font-style: italic;
}


a {
  border: none;
}
body {
  background-color: white;
}

.col-sm-12 {
  border: #EFB332 dotted 50px;
  padding: 10px;
  margin-top: 30px;

}


.col-sm-12 .img_index {
   border: #EF6F00 dotted 20px;
   padding: 5px;

}

.btn {
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
  font-color: #000528;

}

h1 {
  font-family: 'Archivo Black', sans-serif;

}

.col-6 {
  margin: 40px;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 30px;
}




.top {
    width: 70%;
    height: 100px;
    background-position: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0px;
    justify-content: center;
    border: #EFB332 solid 10px;
    box-shadow: -1px 7px 38px -15px rgba(0,0,0,0.75);


}

.top h1 {
color: white;
font-family: 'Abril Fatface', cursive;;


}

.col-5 {
  padding: 40px;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-style: italic;
}

.col-1 {
  padding: 40px;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;


}

.row {
  justify-content: center;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
    border: black dotted 20px;
    font-family: 'Archivo Black', sans-serif;

}

#show-info {

  margin: 10px;
}
